includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    # autoload_files:
    #     - _ide_helper.php
    level: max
    paths:
        - app
    # excludePaths:
    #     analyseAndScan:
    #         - zpp/hoge/fuga
    fileExtensions:
        - php
    checkClassCaseSensitivity: true
    reportMagicMethods: true
    reportMagicProperties: true
    checkMaybeUndefinedVariables: true
    checkMissingIterableValueType: true
    typeAliases:
        Numbers: 'int[]'
# rules:
#    - PHPStan\Rules\Methods\ReturnTypes
